# Java / Spring Boot
**/target/
**/data/
*.class
*.jar
*.war
*.log

# Python
**/__pycache__/
**/venv/
**/venv_*/
*.pyc
*.pyo

# YOLO / Modèles
**/runs/
*.pt
!*.pt

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
*.pid